@model CPAT.Models.ViewModel.CourseCartViewModel
@{
    ViewData["Title"] = "CourseCart";
}

<h1>CourseCart</h1>

<form method="post">
    <br /><br />
    <h2 class="text-info">Your Shopping Cart</h2>
    <br />
    @if (Model.Courses.Count > 0)
    {
        <div class="container border border-secondary rounded" style="padding:15px;">
            <div class="row">
                <div class="col-8" style="border-right:1px solid #bbb9b9;">
                    <table class="table table-striped" width="100%">
                        <tr class="table-info">
                            
                            <th style="text-align:center;">
                                <label asp-for="@Model.Courses.FirstOrDefault().CourseName"></label>
                            </th>
                            <th style="text-align:center;">
                                <label asp-for="@Model.Courses.FirstOrDefault().CourseID"></label>
                            </th>
                            <th style="text-align:center;">Remove</th>
                        </tr>
                        @foreach (var item in Model.Courses)
                        {
                            <tr style="padding:50px;">

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.CourseName)
                                </td>
                                <td style="text-align:center">
                                    <a href="@item.DetailsLink" target="_blank"> @Html.DisplayFor(c => item.CourseID)</a>
                                </td>
                                <td style="text-align:center">
                                    <button type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>

                        }
                    </table>
                </div>
                @*
                <div class="col-4" style="padding-left:30px;">
                    <div class="row">
                        <div class="col-12">
                            <label>Name : </label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="@Model.Appointments.CustomerName" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Phone Number : </label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="@Model.Appointments.CustomerPhoneNumber" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Email  : </label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="@Model.Appointments.CustomerEmail" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Appointment Date : </label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="@Model.Appointments.AppointmentDate" value="" type="text" id="datepicker" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Appointment Time : </label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="@Model.Appointments.AppointmentTime" value="" type="text" class="timepicker form-control" />
                        </div>
                        <div class="col-12">
                            <button type="submit" id="btnPlaceOrder" class="btn btn-success">Schedule Appointment</button>
                        </div>
                    </div>
                </div>
                *@
            </div>
        </div>

    }
    else
    {
        <div>No items added...</div>

    }
</form>