@model IEnumerable<CPAT.Models.Courses>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Course List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Course</a>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>@Html.DisplayNameFor(m => m.CourseID)</th>
            <th>@Html.DisplayNameFor(m => m.CourseName)</th>
            <th>@Html.DisplayNameFor(m => m.EstSeason)</th>
            <th></th>
            <th></th>
        </tr>

        @foreach(var c in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => c.CourseID)
            </td>
            <td>
                @Html.DisplayFor(m => c.CourseName)
            </td>
            <td>
                @Html.DisplayFor(m => c.EstSeason)
            </td>
            <td>
                <partial name="_TableButtonPartial" model="c.Id" />
            </td>
        </tr>
        }
    </table>
</div>