@model CPAT.Models.MajorRequirements
@using CPAT.Models
@{
    ViewData["Title"] = "Details";
}

<br />

<h2 class="text-info">Major Details</h2>


<div class="p-4 border rounded">

    <div class="form-group row">
        <div class="col-2 text-right">
            <label asp-for="MajorName"></label>

        </div>
        <div class="col-10">
            <input readonly asp-for="MajorName" class="form-control" />
        </div>


        <br />
    </div>
</div>
<div class="row">

    <div class="col-6">
        <h2 class="text-md-center">Assigned</h2>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>Course ID</th>
                <th colspan="3">Course Name</th>
                <th>Credit Hours</th>
            </tr>

            @foreach (var c in ViewBag.majorCoursesAssigned)
            {
                <tr>
                    <td>@c.Courses.CourseID</td>
                    <td colspan="3">@c.Courses.CourseName</td>
                    <td>@c.Courses.CreditHours</td>
                </tr>

            }

        </table>
    </div>
    <!--
    <div class="col-2">

    </div>
    -->
    <div class="col-6">
        <h2 class="text-md-center">Available</h2>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>Course ID</th>
                <th colspan="3">Course Name</th>
                <th>Credit Hours</th>
            </tr>

            @foreach (var c in ViewBag.availableCourses)
            {
                <tr>
                    <td>@c.CourseID</td>
                    <td colspan="3">@c.CourseName</td>
                    <td>@c.CreditHours</td>
                </tr>

            }

        </table>
    </div>

    <!--
    <form method="post" asp-action="Update">
        <div class="p-4 border rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-2 text-right">
                    <label asp-for="MajorName"></label>

                </div>
                <div class="col-3">
                    <input asp-for="MajorName" class="form-control" />
                </div>
                <span asp-validation-for="MajorName" class="text-danger"></span>

                <br />

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Create" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </div>
    </form>

    <div class="form-row">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
    </div>
        -->

    <br />

    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
